body{
    background-color:rgb(230, 237, 237)
}

.container{
   
    margin-bottom: 2px;
    height: 150px;
   
    
}
.border-bottom{
  
    height: 2px;
    ;
}



.row{ 
    width: 780px;
    height: 200px;
    margin-left: 1px;
    }



.mainContents {


    width: 800px;
    flex-direction: column;
    color: cornflowerblue;
    margin-left: 10px;
}


